.App {
  text-align: center;
  font-size: 30px;
}

.cardRow {
  min-height: 210px;
}

.vertical-text {
  text-align: center;
  font-size: 20px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  height: 210px;
}

.resources > * {
  margin-left: 20px;
}

.redBgr {
  background-color: crimson;
}

.goldBgr {
  background-color: gold;
}

/*** CARD ***/
.card h3 {
  font-size: 80%;
}

.VictoryPoints h3 {
  color: gold;
}

.effectsText {
  font-size: 12px;
  padding: 0 15px 0 15px;
}

.card img {
  max-width: 15px;
}

.cardEffect {
  max-width: 30px;
}