.App {
  text-align: center;
  font-size: 30px;
}

.cardRow {
  min-height: 210px;
}

.vertical-text {
  text-align: center;
  font-size: 20px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  height: 210px;
}

.redBgr {
  background-color: crimson;
}

.goldBgr {
  background-color: gold;
}

/*** CARD ***/
.card h2 {
  font-size: 40%;
  margin-top: 10%;
}

.card h3 {
  font-size: 80%;
}

.VictoryPoints h3 {
  color: gold;
}

.effectsText {
  font-size: 12px;
  padding: 0 15px 0 15px;
}

.card img {
  max-width: 15px;
}

.Movement {
}

.movementSymbol {
  max-width: 50px;
}

.Cost {
  position: absolute;
  bottom: -3%;
  left: 6.5%;
}

.VictoryPoints {
  position: absolute;
  bottom: -3%;
  right: 4%;
}

.Effects {
  position: relative;
  bottom: 0;
  height: 44%;
  margin-top: 40%;
}

.Effects2 {
  position: relative;
  bottom: 0;
  height: 44%;
  margin-top: 50%;
}

.cardEffect {
  max-width: 30px;
}